* {
    /*para mobile(first mobile)*/
    box-sizing: border-box;
    margin: 0;
}

html {
    /*cuando clikeo un link del menu sea más estilzado*/
    scroll-behavior: smooth;
}

body {
    font-family: 'Amiri', serif;
    margin: 0;
}

h1 {
    font-size: 10vw;
    /*em es relativo al tamaño de la fuente*/
}

h2 {
    font-size: 2em;

}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
    /*para que no salgan los .(puntos) en la lista*/
}

li {
    font-size: 1.25em;
}

.container {
    /*al agrandar la pantalla se centran todo lo que está dentro,con ancho de 1.400px*/
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: rgb(123, 248, 248);
}

header {
    /*encabezado*/
    background-color: rgb(254, 254, 254);
    display: flex;
}


.logo {
    display: flex;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 1px 8px 1px 1px rgb(238, 238, 238);
    border-radius: 50px 50px 50px 50px;
    border: 2px solid rgb(123, 248, 248);

}

header .nombre {
    /*selecciono el child de header, con .nombre*/
    margin: 0;
    /*reseateamos el margen*/
    padding: 25px 30px;
    /*1 valor paddin arriba y abajo, 2 valor paddin a los costados*/
    font-weight: bold;
    color: rgb(123, 248, 248);
    /*titulo*/
    font-size: 1.6em;
}


header .container {
    /*selecciono el child de header,con .container*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    /*quita el subrrayado de links*/
    color: rgb(255, 152, 233);
}

header a:hover {
    color: rgb(123, 248, 248);
}


#somospro .container {
    /*Somos desing logo!*/
    text-align: center;
    padding: 50px 12px;
}


#nuestros-logos {
    /*nuestros packs*/
    background-color: rgb(123, 248, 248);
    color: white;
    text-align: center;
}

#nuestros-logos .container {
    padding: 150px 12px;
}

#nuestros-logos h2 {
    margin-top: 0;
    font-size: 8vw;
    justify-items: center;
}

#nuestros-logos p {
    display: none;
}

#nuestros-logos .carta {
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
    margin: 15px;
    border-radius: 25px;
}

/*para seleccionar a los hermanos utilizo first/nth(2)/last child(3)*/
.carta:first-child {
    background-image: linear-gradient(
            /* sirve para ponerle un filtro negro a la img*/
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("portada2.png");
}

.carta:nth-child(2) {
    background-image: linear-gradient(
            /* sirve para ponerle un filtro negro a la img*/
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("portada2.png");
}


.carta:nth-child(3) {
    background-image: linear-gradient(
            /* sirve para ponerle un filtro negro a la img*/
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("portada2.png");
}

#caracteristicas .container {
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas .vibrate{-webkit-animation:vibrate-1 .3s linear infinite both;animation:vibrate-1 .3s linear infinite both}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-7 19:49:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

 #caracteristicas li {
    margin: 15px 0px;
    /*arrba/abajo, a los costados*/
    font-weight: bold;
}

#final {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    background-color: rgb(123, 248, 248);
    color: white;
}

#final h2 {
    font-size: 8vw;
}

footer {
    background-color: rgb(230, 230, 230, 230);
}

footer p {
    margin: 0;
    color: rgba(100, 100, 100);
    padding: 12px;
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px) {
    /*si la pantalla supera los 720px se aplican estos estilos*/
    /*para web*/

    header {
        /*nav inamobible*/
        position: fixed;
        width: 100%;
        
    }


    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero {   /*imgenes carrusel*/
        display: flex;
        flex-direction: column;
        padding: 100px 0px;
        align-items: center;
    }

    #hero .carousel-inner {
        display: flex;
        flex-direction: column;
        align-content: center;
      
    }

    #carousel-inner img{
        align-content: center;
        object-fit: cover;
        background-position: center center;
    }

    #somospro .container {
        display: flex;
        justify-content: space-evenly;
    }

    #somospro .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #somospro .img-container {
        background-image: url("portada.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        justify-content: center;

    }
}